body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}
nav ul a {
  display: inline-block;
  margin-right: 10px;
}
.left {
  display: inline-block;
  margin-left: 0;
}
.right {
  float: right;
  padding-right: 10px;
}
.top-left-right-box {
margin: 0 12%
  }
  #banner {
    background: linear-gradient(to right, #c0267d, #d62e2e);
    padding: 5% 0%;
  }
.banner-image {
  display: inline-block;
  width: 500px;
}
.banner-content {
  float: right;
  width: 400px;
  margin-left: 7%;
  color: #ffffff;
}
h1 {
  margin: 1% 0%;
}
h4 {
  margin: 4% 0%;
}
.banner-description {
  float: left;
  width: 400px;
  height: 145px;
  margin-bottom: 3%;
  line-height: 30px;
  font-size: 16px;
  border-top: 2px dashed #8d1c1c;
  border-bottom: 2px dashed #8d1c1c;
}
.button-wht {
  background-color: white;
  padding: 10px 10px;
  border: 1px solid white;
  border-radius: 5px;
  margin: 15px 0;
  font-size: 18px;
  color: black;
}
.cents {
  font-size: 18px;
  font-style: color white;
  position: relative;
  bottom: 7px;
  margin-right: 9%;
}
#top-tab-banner {
  display: block;
  background: white;
  padding: 0 0;
  border-bottom: 1px solid #e26a6a;
}
.tabs li {
  color: #801b19;
  display: inline-block;
  margin-right: 2%;
  line-height: 25px;
  border-bottom: 2px solid #801b19;
  }
.tabs {
  padding-top: 0;
  padding-left: 0;
  margin-left: 14%;
  margin-bottom: 0;
  margin-top: 25px;
  margin-right:
}
.tabs ul {
  float: right;
  margin-right: 16%;
  color: #801b19;
}
p {
  font-size: 16px;
}
.copy-banner {
  margin-bottom: 4%;
}
.pdp-copy p1, p3, p5, p7 {
  display: block;
  margin-left: 14%;
  margin-top: 2%;
  font-weight: bolder;
  font-size: 22px;
  color: #000;
}
.pdp-copy p2, p4, p6, p8 {
  margin-left: 14%;
  margin-top: 2%;
  font-weight: bolder;
  font-size: 16px;
  color: #636363;
}

#lower-tab-banner p10 {
  display: block;
  background: #c2c2c2;
  padding: 1% 0;
  text-align: center;
}
#banner {
  background: linear-gradient(to right, #c0267d, #d62e2e);
  padding: 5% 0%;
}
.bottom-container {
  margin: 0 20%;
}

.shoe-footer img {
  width: 210px;
}
.shoe-footer {
  display: inline-block;
  color: #fff;
}
.shoe-footer:nth-of-type(2n) {
  margin: 0 10%;
}
.price {
  margin-left: 25px;
}
.cents {
  font-size: 12px;
  position: relative;
  bottom: 8px;
}
p9 {
  color: #801b19;
  font-size: 14px;
  margin-left: 0;
  position: relative;
  bottom: 15px;
}
/*my tab test*/
.tabx {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tabx button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tabx button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tabx button.active {
  background-color: #ccc;
}

#product-details {
  display: block;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
